// ////////////////////////////////////////////////////////////////// Typography
// -----------------------------------------------------------------------------
/*
 * Variables specifying the font family declaration ($fontPrimary) and the
 * location of the source font files ($fontAssetPath)
 */

$fontSuisseIntl: 'SuisseIntl', sans-serif, monospace;
$fontSuisseIntlMono: 'SuisseIntlMono', sans-serif, monospace;
$fontAssetPath: 'assets/fonts';

// -------------------------------------------------------- Suisse International
@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Light.eot');
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Light.eot?#iefix') format('embedded-opentype'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Light.woff2') format('woff2'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Light.otf') format('opentype'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Light.svg#SuisseIntl-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Regular.eot');
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Regular.woff2') format('woff2'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Regular.otf') format('opentype'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Regular.svg#SuisseIntl-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Medium.eot');
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Medium.eot?#iefix') format('embedded-opentype'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Medium.woff2') format('woff2'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Medium.otf') format('opentype'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Medium.svg#SuisseIntl-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-SemiBold.eot');
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-SemiBold.woff2') format('woff2'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-SemiBold.otf') format('opentype'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-SemiBold.svg#SuisseIntl-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Bold.eot');
  src: url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Bold.eot?#iefix') format('embedded-opentype'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Bold.woff2') format('woff2'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Bold.otf') format('opentype'),
    url('#{$fontAssetPath}/suisse-intl/SuisseIntl-Bold.svg#SuisseIntl-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

// --------------------------------------------------- Suisse International Mono
@font-face {
  font-family: 'SuisseIntlMono';
  src: url('#{$fontAssetPath}/suisse-intl-mono/SuisseIntlMono-Regular.eot');
  src: url('#{$fontAssetPath}/suisse-intl-mono/SuisseIntlMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('#{$fontAssetPath}/suisse-intl-mono/SuisseIntlMono-Regular.woff2') format('woff2'),
    url('#{$fontAssetPath}/suisse-intl-mono/SuisseIntlMono-Regular.otf') format('opentype'),
    url('#{$fontAssetPath}/suisse-intl-mono/SuisseIntlMono-Regular.svg#Suisse-Intl-Mono-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}


// ///////////////////////////////////////////////////////// Basic Styles Mixins
// -----------------------------------------------------------------------------

/*
 * Mixins corresponding to most commonly used html text elements:
 */

// Titles
@mixin h1 { // Hero section + section headings
  font-size: toRem(48);
  line-height: leading(65, 48);
  font-weight: 500;
  letter-spacing: 0.03em;
  @include medium {
    font-size: toRem(36);
    line-height: leading(48, 36);
    font-weight: 500;
    letter-spacing: 0.03em;
  }
  @include mini {
    font-size: toRem(30);
    line-height: leading(43, 30);
  }
}

@mixin h2 { // Roadmap headings
  font-size: toRem(26);
  line-height: leading(34, 26);
  font-weight: 500;
  letter-spacing: 0.03em;
  @include medium {
    font-size: toRem(20);
    line-height: leading(30, 20);
    font-weight: 500;
    letter-spacing: 0.03em;
  }
}

@mixin h3 { // Card headings
  font-size: toRem(20);
  line-height: leading(25, 20);
  font-weight: 500;
  letter-spacing: 0.03em;
  @include medium {
    font-size: toRem(18);
    line-height: leading(27, 18);
    font-weight: 500;
    letter-spacing: 0.03em;
  }
  @include mini {
    font-size: toRem(16);
    line-height: leading(27, 16);
  }
}

@mixin h4 { // Roadmap milestone headings, captions for stats in hero section
  font-size: toRem(16);
  line-height: leading(30, 16);
  font-weight: 500;
  letter-spacing: 0.03em;
  @include medium {
    font-size: toRem(14);
    line-height: leading(16, 14);
    font-weight: 500;
    letter-spacing: 0.03em;
  }
}

@mixin h5 { // "Why Singularity? heading"
  font-size: toRem(16);
  line-height: leading(19, 16);
  font-weight: 500;
  letter-spacing: 0.11em;
  @include medium {
    font-size: toRem(14);
    line-height: leading(16, 14);
    font-weight: 500;
    letter-spacing: 0.11em;
  }
}

// Paragraph Text
@mixin p1 { // Section body text
  font-size: toRem(18);
  line-height: leading(27, 18);
  font-weight: 400;
  letter-spacing: 0.01em;
  @include small {
    font-size: toRem(14);
    line-height: leading(21, 14);
    font-weight: 400;
    letter-spacing: 0.01em;
  }
}

@mixin p2 { // Card text
  font-size: toRem(16);
  line-height: leading(27, 16);
  font-weight: 400;
  letter-spacing: 0.01em;
  @include small {
    font-size: toRem(12);
    line-height: leading(21, 12);
    font-weight: 400;
    letter-spacing: 0.01em;
  }
}

 // UI Elements
@mixin b1 { // Primary CTAs
  font-size: toRem(18);
  line-height: leading(21, 18);
  font-weight: 500;
  letter-spacing: 0.03em;
  @include small {
    font-size: toRem(14);
    line-height: leading(26, 14);
    font-weight: 500;
    letter-spacing: 0.03em;
  }
}

@mixin b2 { // Secondary button styles
  font-size: toRem(16);
  line-height: leading(24, 16);
  font-weight: 600;
  letter-spacing: 0.01em;
  @include small {
    font-size: toRem(14);
    line-height: leading(21, 14);
    font-weight: 600;
    letter-spacing: 0.01em;
  }
}

@mixin navButton {
  font-size: toRem(16);
  line-height: leading(27, 16);
  font-weight: 500;
  letter-spacing: 0.03em;
  @include medium {
    font-size: toRem(14);
    line-height: leading(21, 14);
    font-weight: 600;
    letter-spacing: 0.01em;
  }
}

@mixin inlineCode {
  font-family: $fontSuisseIntlMono;
  // color: var(--code-text-color);
  // background-color: var(--code-background-color);
  // padding: 0.12rem 0.45rem;
  // border-radius: toRem(4);
  font-size: toRem(14);
  line-height: leading(27, 18);
  font-weight: 400;
  letter-spacing: 0.01em;
  @include small {
    font-size: toRem(14);
    line-height: leading(27, 14);
    font-weight: 400;
    letter-spacing: 0.01em;
  }
}

@mixin disclaimerText {
  font-size: toRem(14);
  line-height: leading(21, 14);
  font-weight: 400;
  letter-spacing: 0.01em;
}

@mixin footerButton {
  font-size: toRem(14);
  line-height: leading(27, 14);
  font-weight: 500;
  letter-spacing: 0.01em;
  @include tiny {
    font-size: toRem(12);
    line-height: leading(27, 12);
  }
}

@mixin formFieldPlaceholder {
  font-size: toRem(16);
  line-height: leading(27, 16);
  font-weight: 400;
  letter-spacing: 0.01em;
}

@mixin formFieldText {
  font-size: toRem(16);
  line-height: leading(27, 16);
  font-weight: 500;
  letter-spacing: 0.01em;
}

@mixin formFieldErrorMessage {
  font-size: toRem(14);
  line-height: leading(21, 14);
  font-weight: 400;
  letter-spacing: 0.01em;
}

@mixin hamburgerCTA {
  font-size: toRem(24);
  line-height: leading(36, 24);
  font-weight: 500;
  letter-spacing: 0.03em;
}

// ////////////////////////////////////////////////////////////////////// Sizing
// -----------------------------------------------------------------------------
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  display: block;
  text-transform: none;
}

h1, .h1 {
  @include h1;
}

h2, .h2 {
  @include h2;
}

h3, .h3 {
  @include h3;
}

h4, .h4 {
  @include h4;
}

h5, .h5 {
  @include h5;
}

h6, .h6 {
  @include h5;
}

p,
.p1,
div,
a,
button {
  @include p1;
}

:not(pre) > code {
  @include inlineCode;
}
